<main class="card">
  <h1 class='text-center'>Hello world</h1>
  <h2 class='text-end'>second</h2>
  <h3>good</h3>

  <hr />

  <div class='display-2'>Hello world</div>
  <div class='display-3'>second</div>
  <div class='display-5'>good</div>

  <hr />



  <div class='text-center' 'text-muted'>
    Додатковий текст
  </div>
   
   <hr>

   <button class="btn btn-warning">
    <span class="text-uppercase">Button primary</span>
    </button>


<hr>

<p class="text-primary">My text</p>
<p class="text-dark">My text</p>
<p class="text-muted">My text</p>

<hr>


<button class="btn btn-outline-info">info</button>
<button class="btn btn-outline-success">Go</button>
<button class="btn btn-outline-danger">Danger</button>



</main>