{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='row mx-5 mt-5'>
  <h5>Cписок сторінок</h5>
  <div class='my-3'>Тут вам потрібно написати інформацію про
    ваш проєкт.<br />
    Поки що можна написати будь-який текст</div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shophome'
    >Shophome</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopcart'
    >Shopcart</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopcatalog'
    >Shopcatalog</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shophome'
    >Shophome</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopnews'
    >Shopnews</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shoporder'
    >Shoporder</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopproduct'
    >Shopproduct</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopprofile'
    >Shopprofile</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-success btn-sm my-1'
      href='/shopreview'
    >Shopreview</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/bio'
    >Bio</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/car'
    >Car</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/education'
    >Education</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/error'
    >Error</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/facebook'
    >Facebook</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/js'
    >JS</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/mac'
    >Mac</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/person'
    >Person</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/program'
    >Program</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/skills'
    >Skills</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/summary'
    >Summary</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/task21'
    >Task21</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/task22'
    >Task22</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/task31'
    >Task31</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/web'
    >Web</a><br />
  </div>
  <div class='col-4'>
    <a
      type='button'
      target='_blank'
      class='btn btn-warning btn-sm my-1'
      href='/work'
    >Work</a><br />

  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}