<hr /> 
<div class='nav '>
            {{#each footer}}
        {{#each this}}
            <div class='nav-item'>
              <div class='flex-column m-2'>
              <a href='{{link}}' class='nav-link '>{{text}}</a></li>
                
              </div>
               </div>
                              {{/each}}
        {{/each}}
               </div>